:root {
  --c-fg: #000;
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html {
  color: var(--c-fg);
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.5;
}

html.dark {
  --c-fg: #fff;
  --c-bg: #000;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
