:root {
  --c-fg: #000;
  --c-bg: #fff;
  --c-primary: #a160fc;
  --c-scrollbar: #ddd;
  --c-scrollbar-hover: #ccc;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
  scrollbar-width: thin;
}

/* theme transitioning */
.theme-transitioning * {
  transition: all 0.3s ease !important;
}

html {
  background-color: var(--c-bg);
  color: var(--c-fg);
  line-height: 1.5;
  overflow: hidden scroll;
}

html.dark {
  --c-fg: #fff;
  --c-bg: #000;
  --c-scrollbar: #333;
  --c-scrollbar-hover: #222;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

#nprogress .bar {
  background: var(--c-primary) !important;
}
