:root {
  --c-fg: #000;
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html {
  background-color: var(--c-bg);
  color: var(--c-fg);
  line-height: 1.5;
  overflow: hidden scroll;
}

html.dark {
  --c-fg: #fff;
  --c-bg: #000;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}
