:root {
  --prose-max-width: 65ch;
  --prose-width: min(var(--prose-max-width), 100%);
  --prose-margin: calc(calc(100vw - var(--prose-width)) / 2);
}

.prose {
  --fg-light: #888;
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  max-width: var(--prose-max-width);
  margin: 0 auto;
  color: var(--fg);
  font-size: 1rem;
  line-height: 1.75;
}

html.dark .prose {
  --fg-light: #888;
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--fg-deeper);
  font-weight: 600;
}

.prose code {
  padding: 0.2em 0.3em;
  margin: -0.2em 0;
  border-radius: 0.25rem;
  background-color: #aaaaaa18;
  color: var(--fg-deeper);
  font-family:
    'DM Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 0.92em;
  font-weight: 500;
}
