:root {
  --prose-max-width: 65ch;
  --prose-width: min(var(--prose-max-width), 100%);
  --prose-margin: calc(calc(100vw - var(--prose-width)) / 2);
}

.prose {
  color: var(--fg);
  max-width: var(--prose-max-width);
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.75;
}