.art-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}

@media print {
  .art-container {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .art-container {
    filter: invert(1);
  }
}

